/* LOGIN PAGE */
.login {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

.hero-img {
    height: 100%;
    width: 55%;
    display: flex;
}

.login-info-img {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    width: 45%;
    height: 100%;
}

.login-info img {
    display: flex;
    width: 10%;
    height: 6%;
    margin: 5%;
}

.login-info h1 {
    display: flex;
    font-weight: bolder;
    font-size: 4em;
    width: fit-content;
    margin: 2% 5%;
}

.width-combiner {
    width: 60%;
    height: 50%;
    margin: 10% 5%;
}

.login-info h2 {
    display: flex;
    font-weight: bolder;
    font-size: 2em;
    width: fit-content;
    margin: 0 5%;
}
