:root {
    --twitter-blue: #1DA1F2;
}

body {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;

}

.profile-container {
    width: 80%;
    height: 100%;
    background: white;
    display: flex;
    flex-flow: wrap row;
    overflow-y: scroll;
}
.profile{
    width: 100%;
}

@media only screen and (max-width: 400px) {
.profile-container {
        width: 100%;
    }
}

.profile-bg-img {
    width: 100%;
    height: 20vh;
    background: rgb(240, 240, 240);
}

.profile-img {
    width: 14vh;
    height: 14vh;
    background: rgb(240, 240, 240);
    border-radius: 50%;
    margin: -10vh 0 0 5%;
    border: 2px solid white;
}

.profile-info {
    display: flex;
    flex-flow: wrap row;
    height: fit-content;
    margin: 2vh 0 0 5vw;
    width: 90%;
}

.profile-text {
    font-size: 14px;
}

.profile-btns {
    display: flex;
    flex-flow: wrap column;
    height: 115px;
    transform: scale(.8);
    margin-top: -10px;
}

.profile-btns button {
    margin-bottom: 5px;
}

.profile hr {
    opacity: .6;
    width: 90%;
    margin-left: 5%;
}

/* Profile's body */

.profile-container h1 {
    font-size: 40px;
    font-weight: 900;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10%;
    opacity: .3;

}

.add-tweet {
    position: fixed;
    top: 80%;
    left: 85%;
    font-size: 30px;
    color: white;
    padding: 5px 13px;
    background: var(--twitter-blue);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.add-tweet:hover {
    filter: brightness(.9);
}
/* Footer */

.footer {
    width: 80%;
    height: 8%;
    position: fixed;
    bottom: 0;
    background: white;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, .6);
}

@media only screen and (max-width: 400px) {
    .footer {
        width: 100%;
    }
}

.footer i {
    font-size: 40px;
    color: var(--twitter-blue);
    border-radius: 50%;
    padding: 10px;
}

.footer i:hover {
    animation: btn-effect .2s ease-out forwards;
}

@keyframes btn-effect {
    to{
        background: rgb(220, 220, 255);
    }
    
}


/* EDIT PROFILE CSS */

.edit-profile{
    display: none;
    width:500px;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top:5vh;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 2%;
    padding-top: 3%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 500px){
    .edit-profile {
        width: 100vw;
    }
}
.edit-profile-header{
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: -3% 0 2% 0;
}
.edit-profile-header h4{
    margin-left: 7px;
}

.profile-save-btn {
    position: absolute;
    right: 2vw;
    padding: 5px 15px;
    border-radius: 20px;
    background: black;
    border: none;
    color: white;
    cursor: pointer;
}

.profile-save-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.edit-profile p{
    margin:30px 0 5px 0;
    color: rgba(0, 0, 0, 0.8);
}

#close-profile-edit{
    cursor: pointer;
}


.new-name,
.edit-profile textarea{
border: 1px solid rgba(0, 0, 0, 0.2);
padding: 10px;
}

.edit-profile textarea,
.edit-profile input{
    width:100%;
    border-radius: 5px;
    color:rgba(0, 0, 0, 0.8);
}

/* ADD IMGBUTTON */

#new-profile-bg,
#new-profile-img{
    cursor: pointer;
    border: 1px dashed var(--twitter-blue);
}
