<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter. It's what's happening now.</title>
    <link rel="stylesheet" href="/app/assets/css/styles.css">
    <link rel="stylesheet" href="/app/assets/css/login.css">
    <link rel="icon" type="image/x-icon" href="/app/assets/images/twitter-logo.png">
</head>
<body>

        <!-- MAIN SECTION/ BODY-->
        <section class="login">
        
            <!-- HERO IMAGE -->
            <img class="hero-img" src="/app/assets/images/login-img.jpg" alt="">
        
            <!-- LOGIN SIDE -->
            <div class="login-info">
        
                <!-- LOGO -->
                <img class="login-info-img" src="/app/assets/images/twitter-logo.png" alt="">

                <!-- TITLE -->
                <h1>Happening now</h1>
        
                <!-- CONTAINER -->
                <div class="width-combiner">

                    <!-- TITLE-2 -->
                    <h2>Join Twitter today.</h2>
        
                    <!-- SIGNUO BUTTON -->
                    <button class="blue-btn signup-btn" id="signup-btn">Sign up with phone or email</button>
        
                    <!-- LOWER LINKS & INSTRUCTIONS -->
                    <p class="rules">By signing up, you agree to the <a href=""> Terms of Service</a> and <a href=""> Privacy
                            Policy</a>, including <a href=""> Cookie Use</a>.</p>
        
                    <!-- SIDE FOOTER -->
                    <!-- TITLE-3 -->
                    <h3>Already have an account?</h3>
        
                    <!-- SIGNIN BUTTON -->
                    <button class="nofill-btn signup-btn" id="signin-btn">Sign in</button>
        
                </div>
        
            </div>
        
        </section>

<!-- FOOTER -->

    <footer>

        <!-- FOOTER LINKS -->
        <a href="#">About</a>
        <a href="#">Help Center</a>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Cookie Policy</a>
        <a href="#">Accessibility</a>
        <a href="#">Ads info</a>
        <a href="#">Blog</a>
        <a href="#">Status</a>
        <a href="#">Careers</a>
        <a href="#">Brand Resources</a>
        <a href="#">Advertising</a>
        <a href="#">Marketing</a>
        <a href="#">Twitter for Business</a>
        <a href="#">Developers</a>
        <a href="#">Directory</a>
        <a href="#">Settings</a>
        <a href="#">© 2022 Twitter, Inc.</a>

    </footer>


    <!-- SIGN-UP FORM NONE-DISPLAYED-->
    
    <!-- PAGE 1 -->
    <form class="login-form" id="form-page-1" action="">
    
        <div class="form-header">
            <img id="close-form" src="/app/assets/images/x-lg.svg" alt="">
    
            <h3>Step <span id="current-form-page">1</span> out of 1</h3>
    
        </div>

        <div class="form-body">
        
            <h1>Create your account</h1>

            <div class="form-input">
                <input type="text" name="name" placeholder="Name" id="name-input" class="input">
                <p id="name-length">0/40</p>
            </div>

            <div class="form-input">
                <input type="text" name="phone-or-email" placeholder="Phone" id="email-phone" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="input">
            </div>

            <button class="email-phone-switch-btn">Use email instead</button>
            
            <h4>Date of birth</h4>
            <p>This will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or
                something else.</p>

    <div class="date-select">

    <select id="month" name="month" class="month input">
        <option value=" ">month</option>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>

    
    </div>

        </div>



        </form>



    <script src="/app/assets/javascript/login.js"></script>
</body>
</html>