<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Twitter</title>
    <link rel="stylesheet" href="/app/assets/css/styles.css">
    <link rel="stylesheet" href="/app/assets/css/profile.css">
    <link rel="icon" type="image/x-icon" href="/app/assets/images/twitter-logo.png">
</head>

<body>

    <section class="profile-container">
    
        <div class="profile">
    
            <img src="/app/assets/images/ui-user-profile.svg" alt="" class="profile-bg-img">
    
            <img src="/app/assets/images/ui-user-profile.svg" alt="" class="profile-img">
    
            <div class="profile-info">
    
                <div class="profile-text">
                    <p>Name</p>
                    <p>@username</p>
                    <p>Born on xx xxxxxx xxxx</p>
                    <p>Joined on xx xxxxxx xxxx</p>
                    <p>0 Following | 0 Followers</p>
                </div>
    
                <div class="profile-btns">
                    <Button class="blue-btn">Follow</Button>
                    <Button class="blue-btn">Block</Button>
                    <Button class="blue-btn">Edit Profile</Button>
                </div>
    
            </div>
            <hr>
        </div>
    

        <h1> X No Tweets :(</h1>
        
        
        
        <button class="add-tweet">+</button>
        
        <div class="footer">
        
            <a href="#"><img src="/app/assets/images/home-circle.svg" alt=""></a>
        
            <a href="#"><img src="/app/assets/images/search.svg" alt=""></a>
        
            <a href="#"><img src="/app/assets/images/ui-user-profile.svg" alt=""></a>
        
            <a href="index.html"><img src="/app/assets/images/log-out.svg" alt=""></a>
        
        </div>
    
    </section>


    <!-- EDIT PROFILE -->

    <form action="" class="edit-profile">

        <div class="edit-profile-header">

            <img src="/app/assets/images/x-lg.svg" alt="" id="close-profile-edit" >
            <h4>Edit profile</h4>

        </div>
        <p>change your name:</p>
        <input type="text" name="new_name" placeholder="Name">

        <p>change your bio:</p>
        <textarea name="bio" id="" cols="30" rows="5"></textarea>

        <p>change your profile photo:</p>
        <input type="file" id="img" name="profile-img" accept="image/*">

        <p>change your profile background:</p>
        <input type="file" id="img" name="profile-bg" accept="image/*">

        <br>
        <button class="profile-save-btn">Save</button>

    </form>

        
    



</body>